@media print {
  // Override Material Design elevation shadow
  * {
    --mdc-elevated-card-container-elevation: none !important;
  }
  
  // Remove box from alert but keep the teal background and text styling
  .alert,
  .alert-info {
    border: none !important;
    box-shadow: none !important;
    background: teal !important;
    color: white !important;
  }
}